.app {
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background: url(./assets/images/background.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    &__container {
        background-color: rgba(255,255,255,.2);
        padding: 1rem;
        border-radius: 4px;
        width: 12rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__repetitions {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        margin: .5rem 0;
      }
      &__rep-count {
        margin: 0 .5rem;
        font-size: 1.75rem;
      }
      &__running {
          color: green;
      }
      &__time {
          font-size: 3rem;
      }
    &__music-volume {
      width: 10rem;
    }
  
}
